<div class="post">
	<h2 class="title">Sobre o Site</h2>
	<div class="entry">
		<p>Olá, este site é um meio onde você pode abençoar cantores e adoradores do Senhor que vivem da obra do nosso Senhor e Salvador
			Jesus. Quando você compra uma música pelo site, parte da renda é revertida para manutenção do site e projetos beneficentes e
			a outra parte revertida para os cantores das músicas. Evite a pirataria, compre uma música.</p>
	</div>
</div>
