<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou uma mudança de senha, e você poderá realizá-la através do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não a requisitou, por favor ignore este email.</p>
<p>Sua senha não mudará até que você acesse o link acima e crie uma nova.</p>

<!-- <p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p> -->